/* petros-desktop.css - Site styles for desktop use */

body, table, select, input {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    line-height: 1.2;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

form {
    padding: 0px;
    margin: 0px;
}

form.embedded {
    display: inline;
}

A { 
  text-decoration: none;
} 

A:link { 
  color: blue;
} 

A:visited { 
  color: blue
}

i.icon-x { color: red; }
i.icon-check { color: green; }

div#error {
    color: red;
    text-align: center;
}

.hidden-submit {
    position: absolute;
    width: 0px;
    height: 0px;
    border: none;
    padding: 0px;
    visibility: hidden;
}

/* Top level formatting */

div.contents-pane {
    padding: 0.5em;
    background: white;
}

body.page div.contents-pane {
    padding-top: 3em;
}

body.page.with-sidebar div.contents-pane {
    padding-left: 0.5em;
    padding-right: 0em;
    margin-left: 17em;
}

div.contents {
    left: 0px;
    right: 0px;
    height: 100%;
    color: #313a71;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 5em;
    position: relative;
}

body.page.with-toolbar div.contents {
    top: 40px;
}

div.toolbar {
    position: fixed;
    padding-left: 18em;
    left: 0;
    right: 0;
    height: 3em;
    line-height: 3em;
    z-index: 1;
    vertical-align: middle;
    background: white;
    border-bottom: 1px solid #e0e0e0;
}

div.toolbar input.command {
    width: 10em;
    margin-top: 0.5em;
}

div.toolbar.shadowed {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.125);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.125);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.125);    
}
/* Page header and footer */

div.header {
    background: #f0f0f0;
    color: #202020;

    height: 3em;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

div.header A {
    font-weight: bold;
}

span.logout A {
    color: red;
}


div.header div.right {
    float: right;
    vertical-align: middle;
    padding-right: 2em;
}

div.footer {
    clear: both;
    background: white;

    padding-top: 0.5em;
    color: #404040;

    text-align: center;
    font-size: 80%;
    font-style: italic;
}

body.page.with-toolbar div.sidebar {
    padding-top: 6em;
}

div.sidebar {
    padding-left: 0;
    padding-top: 4em;
    float:left;
    width: 220px;
    position: fixed;
}

div.sidebar div.content {
    padding-top: 0.5em;
}

div.sidebar div.entry {
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

div.sidebar div.content div.entry span.label {
    font-weight: bold;
    padding-right: 0.25em;
}

div.sidebar div.vspace {
    height: 1em;
}

div.sidebar div.content div.control {
    text-align: center;
}

div.sidebar div.content div.control input {
    padding-left: 1.33em;
    padding-right: 1.33em;
}

div.sidebar div.content div.total {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Buttons */

input.command {
    margin-right: 0.66em;
    padding: 0.33em;
    border: 1px solid #c0c0ff;
    color: black;
    font-weight: bold;
    background: #d0cdff;
    height: 2em;
}

input.command:hover {
    background: #e0e0ff;
}

input.command:disabled {
    border: 1px solid #c0c0c0;
    background: #f0f0f0;
    color: #d0d0d0;
}

input.command:active {
    position: relative;
    top: 1px;
    left: 1px;
}

div#finalized-notice {
    border-radius: 0.5em;
    background:  #e0ffe0;
    color: green;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding-left: 0.66em;
    padding-right: 0.66em;
    height: 2em;
    line-height: 2em;
}

div#finalized-notice span.label {
    display: inline;
    font-weight: bold;
    padding-right: 0.25em;
}

div#finalized-notice span.value {
    display: inline;    
    padding-right: 1em;
}

div.main-menu {
    width: 100%;
    text-align: center;
}

div.entry {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.menu-entry {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: left;
    padding-left: 0.5em;
}

div.menu-entry.center {
    text-align: center;
}

div.menu-entry.is-active {
    color: red;
    font-weight: bold;
    border-left: 0.4em solid red;
}

div.menu-entry:hover {
    background: #f0f0f0;
}

div.menu-entry.is-inactive {
    border-left: 0.4em solid white;
}
div.menu-entry.is-active A {
    color: red;
}

div.main-menu A {
    width: 50%;
}

div.main-menu input {
    width: 50%;
    border: 1px solid black;
    line-height: 3em;
    cursor: pointer;
    background: #e0e0e0;
    transition: all 0.1s ease 0s;
}

/* Generic data table styling. */

table {
    border-collapse: collapse;
}

table.data.full-width {
    width: 98%;
}

table.data > thead > tr {
    border: none;
}

table.data tr {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

table.data tr.selected {
    background: #d0cdff;
}

table.data td {
    padding-top: 0.33em;
    padding-bottom: 0.33em;
}

table.data th {
    padding-top: 0.33em;
    padding-bottom: 0.33em;
    text-align: left;
}

td input {
    width: 95%;
}

td.row-selector {
    padding-left: 0.33em;
    padding-right: 0.66em;
}

tr.add-item-row td {
    background: #e0e0e0;    
    text-align: center;
}

/* Table of count sheets */

table.sheets td {
    padding-left: 1em;
    padding-right: 1em;
}

table.sheets th {
    padding-left: 1em;
    padding-right: 1em;
}

table.sheets td.control {
    text-align: center;
}

/* Table of count sheet entries */

table.entries td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table.entries tr.clickable-row td {
    cursor: pointer;
}

table.entries tr.edit-row {
    font-style: italic;        
    background: #e0e0e0;
}

table.entries tr.edit-row td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.informational {
    font-style: italic;
    color: #d0d0d0;
}

table.form {
    border-spacing: 0em 0.2em;
    border-collapse: separate;
}

table .summary {
    font-weight: bold;
    background: #f0f0f0;
}

/* List of checks */

table.checks th.notes {
    width: 50%;
}

table.checks td.no-checks {
    font-style: italic;
}

th.full-width {
    width: 100%;
}

.error-message {
    color: red;
    font-weight: bold;
    background: #fff0f0;
    text-align: center;
}

input {
    padding: 0.25em;
}

input.error {
    border: 1px solid red;
    background: #fff0f0;
}

/* Help contents at the bottom of page contents. */

div.help {
    margin: 1em;
    padding: 0.5em;
}

div.help p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div.help span.label {
    font-weight: bold;
}

/* Printable Report */

@media screen {
    div.page {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

div.page td {
    padding-left: 1em;
    padding-right: 1em;
}

div.page th {
    padding-left: 1em;
    padding-right: 3em;
}

div.page:not(:last-child) {
    page-break-after: always;
}

div.page h1 {
    text-align: center;
    padding-top: 0em;
    patting-bottom: 1em;
}

div.report-header {
    padding-top: 0em;
    padding-bottom: 1em;
}

div.report-header div.entry {
    display: inline;
    padding-right: 2em;
}

div.report-header span.label {
    font-weight: bold;
    padding-right: 1em;
}

